body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
}

.bg-coffee {
  background-color:#351010;
}

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.jumbotrone-extra {
  background: url('../images/header.jpg') no-repeat fixed;
  border-radius: 15px;
  border-top: 2px solid #66FFCC;
  height: 200px;
}

h4, h3, h2, h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

article {
  padding: 15px;
  border: 2px solid #66FFCC;
  border-radius: 15px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #351010;
}

.produkt {
  background-color: #351010;
  border: 2px solid #66FFCC;
  border-radius: 15px;
}

section{
  margin-top: 160px;
  margin-bottom: 160px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  color: white;
}

.just {
  text-align: justify;
}

.button {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 1.0em;
  font-weight: bold; 
  color: white;
}

.finput {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 1.0em;
  font-weight: bold;
  color: #351010;
}

.info {
  font-family:'Courier New', Courier, monospace;  
  font-size: 1.2em;
  color: #fdff80;
}

.buy {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 1.0em;
  font-weight: bold;
  position: relative;
  top: -48px;
  right: -100px;
  color: white;
}

footer{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  font-weight: bold;
  padding: 5px;
}