body {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url('../images/bg_math.png');
  background-repeat: repeat;
}

.todo {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url('../images/bg_todo.png');
  background-repeat: repeat;
}

.bg-math {
  background-color: #66adff;
}

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4, h3, h2, h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
  padding: 30px;
  border: 3px solid #66adff;
  border-radius: 5px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgb(230, 255, 245);
}

.butpos {
  position: relative;
  top: 8px;
}

.finput {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 1.0em;
  font-weight: bold;
}

.listout {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 1.2em;
}

.outmath {
  font-family: 'Courier New', Courier, monospace;  
  font-size: 0.9em;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 105px;
  left: 20px;
}

.radund {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.55em;
  height: 20px;
  border-radius: 5px;
  border-color: blue;
  background-color: aliceblue;
  position: relative;
  left: 18%;
}

.radrem {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 0.55em;
  height: 20px;
  border-radius: 5px;
  border-color: blue;
  background-color:palegoldenrod;
  position: relative;
  left: 20%;
}

.rad0 {
  display: none;
}

.rad1 {
  cursor: pointer;
  display: block;
  color: darkblue;
  text-decoration: none;
}

.rad2 {
  cursor: pointer;
  display: block;
  color: gray;
  text-decoration: line-through;
}

.saveit {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 0.9em;
  font-weight: bold;
  display: block;
}