html, body {
    height: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color:#ABA;
}

nav {
    height: 28px;
    color:black;
    padding: 15px;
    border-radius: 10px;
}

.navarea {
    display: flex;
    background-color:white;
}

.navspace1 {
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 7px;
    background-color:beige ;
}

.navspace2 {
    margin: 0 auto 0 auto;
    padding: 4px;
}

.navspace3 {   
    margin: 0 0 0 auto;
    padding: 4px;
}

article {
    height: 70%;
    padding: 15px;
    margin-top: 3%;
    border-radius: 10px;
    color:white;
}

.area {    
    display: flex;
    background-color:white;
}

.space1 {
    width: 35%;
    text-align: center;
    margin-right: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color:#222;
}

.space2 {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    background-color:#444;
}